# Ignore Mac system files
.DS_store

# Ignore node_modules folder
Scenarios
shiny_bookmarks

# Ignore files related to API keys
.env
.Rhistory

# Ignore SASS config files
.sass-cache
.Rproj.user

# Ignore R proj
*.Rproj
